*{
    margin:0;
    padding:0;
}
.dropdown{
    display: none;
    position: absolute;
    right:2vw;
    background-color: #f1f1f1;
    width:13vw;
    box-shadow: 0px 8px 16px 0px rgba(17, 17, 17, 0.596);
    z-index: 1;
    padding: 3vw;
    flex-direction: column;
    margin-top:40px;
    background-color: rgba(185, 185, 185, 0.247);
    border-radius: 10px;
    align-items: center;
    backdrop-filter: blur(2px);
}
#drpdwn button{
    margin:0.5vw 0;
    padding:0.5vw;
    border-radius:5px;
    font-size:1vw;
    font-family:arial;
    background-color: transparent;
    border:none;
    box-shadow: 2px 2px 8px rgb(37, 37, 37);
    color:rgb(0, 0, 0);
    cursor: pointer;
    width:80%;
    transition:250ms;
    background-color: rgb(180, 180, 180);
}
#drpdwn button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
#drpdwn p{
    padding:0.2vw 0;
    text-align: center;
    font-size:1.2vw;
    font-family:arial;
    color:rgb(0, 0, 0);
    /* text-shadow:3px 3px 4px #111; */
}
.show{
    display:flex;
}
#usr{
    position: relative;
    display: inline-block;
    height:fit-content;
    padding-right: 10px;
}
#links li{
    display:inline-block;
    padding:5vh 2vw;
}
.sec{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size:1.3vw;
    font-family:arial;
    transition: 250ms;
}
/* .sec:hover{
    color:red;
    text-shadow: 2px 2px 3px #111;
} */
/* #current{
    border-bottom: 2px solid white;
    cursor:default;
    text-decoration: none;
    color:white;
    font-size:1.3vw;
    font-family:arial;
} */
nav{
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.333);
    display:flex;
    align-items: center;
    justify-content: space-between;
    transition:500ms;
    box-shadow: 0px -10px 100px 1px black;
}
.dropbtn{
    height:fit-content;
    width: fit-content;
    border: none;
    background-color: transparent;
    text-align: right;
    font-family:arial;
    color:white;
    padding:1vw;
    transition:250ms;
    /* border-radius: 50px; */
    display:flex;
    align-items: center;
    cursor: pointer;
}
.dropbtn:hover{
    font-size:1.04vw;
    transform: scale(130%);
    animation: animation-dp 5s infinite;
}

.circle{
    height: 100%;
    width: 100%;
    background-color: #bbb;
    border-radius: 50%;
    /* animation: wipe-in-bottom-left 1s; */
    /* stroke-dasharray: 314; */
}
.circle:hover{
    height: 100%;
    width: 100%;
    background-color: #bbb;
    border-radius: 50%;
    animation: wipe-in-bottom-left 2s 0.5s;
}
    @keyframes wipe-in-bottom-left {
    0% {
        clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
      }
    50% {
      clip-path: polygon(50% -50%, 150% 50%, 150% 50%, 50% -50%);
    }
    100% {
      clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
    }
  }
  
  [transition-style="in:wipe:bottom-left"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-bottom-left both;
  }

#logo{
    width:10vw;
    padding:0.5vw;
}
#profile{
    width:3vw;
    padding:0.5vw;
}
#upname{
    font-size:2vw;
}
#upmail{
    font-size:1vw;
}
#profile-in{
    width:4.5vw;
    /* padding-top: 0%; */
}


.nav-ele {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: red;
    /* background-color: #404040; */
    float: left;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
  }


.nav-ele::after {
    background-color: rgb(21, 0, 251);
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 20;
    transition: width 0.35s ease 0s;
    position: absolute;
    align-self: center;
    /* width: 10%; */
  }
  
  .nav-ele:hover::after {
    /* width: 100%; */
    /* left: 0; */
    animation: animation 0.5s;
    width: 100%;
  }

  @keyframes animation {
    0%   {width: 0%;
    left: 50;}
    100% {width: 100%;
    left: 0;}
  }

  .nav-ele-focus {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    /* font-size: 25px; */
    color: rgb(41, 41, 41);
    /* background-color: #404040; */
    float: left;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
  }
  

  .nav-ele-focus::after {
    background-color: rgb(52, 52, 52);
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 20;
    transition: width 0.35s ease 0s;
    position: absolute;
    width: 75%;
    margin-left: 15;
  }.glass-wipe{
      background-color: rgba(255, 255, 255, 0.203);
      backdrop-filter: blur(3px);
      height: 50vh;
      width: 10vh;
      transform: rotate(35deg);
      position: absolute;
      /* display: none; */
      animation: glasswipe 5s infinite;
  }
@keyframes glasswipe {
    0% {
        display: inline;
        top: 20vh;
        right: 100vh;
    }
    100%{
        display: none;
        right: 18vh;
    }
}
